<!DOCTYPE HTML>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>NB1 játékoskereső</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/stylesheets/main.css}" />
    <noscript>
        <link rel="stylesheet" th:href="@{/stylesheets/noscript.css}" />
    </noscript>

    <link rel="shortcut icon"
          th:href="@{/images/football.png}"
          type="image/x-icon">
</head>

<body class="is-preload">
<div id="wrapper" class="fade-in">

    <!-- Intro -->
    <div id="intro">
        <h1>NB1 játékoskereső</h1>
        <p>Ez egy oldal, ami az NB1-es játékosokről készült el.</p>
        <ul class="actions">
            <li><a href="#header" class="button scrolly">Tovább</a></li>
        </ul>
    </div>

    <!-- Header -->
    <header id="header">
        <a th:href="@{/}" class="logo">NB1</a>
    </header>

    <!-- Nav -->
    <nav id="nav" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
        <ul class="links">
            <li class="active"><a th:href="@{/}">Főoldal</a></li>
            <li><a th:href="@{/adatbazis}">Adatbázis</a></li>
            <li><a th:href="@{/kapcsolat}">Kapcsolat</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/uzenet}">Üzenetek</a></li>
            <li><a th:href="@{/diagram}">Diagram</a></li>
            <li><a th:href="@{/crud}">CRUD</a></li>
            <li  sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">Admin</a></li>
            <li sec:authorize="isAuthenticated()"><a sec:authentication="principal.nev"></a></li>
            <form method="POST" action="/logout" sec:authorize="isAuthenticated()">
                <button type="submit" class="btn btn-danger">Kijelentkezés</button>
            </form>
            <li><a sec:authorize="isAnonymous()" th:href="@{/bejelentkezes}">Bejelentkezés</a></li>
            <li><a sec:authorize="isAnonymous()" th:href="@{/regisztracio}">Regisztráció</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <article class="post featured">
            <header class="major">
                <span class="date">2025</span>

                <h2><a href="#">Ez egy oldal,
                    ami az NB1-es játékosokről készült el.</a></h2>

                <p>
                    Az oldalon megjelenik az összes NB1-es játékos.<br/>
                    Lehetőség van üzenetet küldeni.<br/>
                    Egy diagramon látható az egyes poziciók százalékát.<br/>
                    A CRUD menü alatt saját táblázatot lehet létrehozni saját adatokkal.
                </p>
            </header>
        </article>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <section class="split contact">
            <section class="alt">
                <h3>Készítők</h3>
                <p>Falusi Tamás Rajmund (IVXW8X)<br/>Samu Dániel (NN8T44)</p>
            </section>
        </section>
    </footer>

    <div id="copyright">
        <ul>
            <li>&copy; Untitled</li>
            <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>

</div>

<!-- Scripts -->
<script th:src="@{/javascripts/jquery.min.js}"></script>
<script th:src="@{/javascripts/jquery.scrollex.min.js}"></script>
<script th:src="@{/javascripts/jquery.scrolly.min.js}"></script>
<script th:src="@{/javascripts/browser.min.js}"></script>
<script th:src="@{/javascripts/breakpoints.min.js}"></script>
<script th:src="@{/javascripts/util.js}"></script>
<script th:src="@{/javascripts/main.js}"></script>

</body>
</html>
